@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
    font-family: "Inter", sans-serif;
}

*:focus {
    outline: none !important;
}

/* .dorime {
    margin-top: 150px;
} */


body {
    position: relative;
    margin: 0;
    padding: 0;
}

.sign-btn, .get-btn, .get-btn2, .get-btn3, .btn-move, .btn-move2, .plan-btn, .get-btn-nav, .btn-sign, .btn-sign2, .btn-sign3, .btn-sign4, .otp-btn, .pl-btn, .mo-btn, .an-btn, .moto, .turn, .ps-btn {
    outline: none;
    box-shadow: none;
    border: 1px solid #424345;
    padding: 4px 30px;
    color: #0B3140;
    border-radius: 5px;
    font-size: 14px;
    background: #fff;
    font-weight: 600;
    display: inline-block;
}

.turn {
    padding: 5px 10px;
    border-radius: 50%;
    background: #00AEEF;
    color: #fff;
    border: 0;
    font-weight: 800;
    display: inline-block;
}

.w-25 {
    border: 0;
    padding: 0;
}

.ps-btn {
    border: 0;
    background: #090f60;
    color: #fff;
}

.pl-btn {
    border: 0;
    background: #66f9b2;
    color: #006E39;
    padding: 3px 8px
}

.form-check-label {
    font-size: 14px !important;
    font-weight: 400;
}

.mo-btn, .an-btn {
    border: 1px solid #afb0b2;
    padding: 9px 25px;
}

.mo-btn:hover {
    border: 2px solid #00AEEF;
}

.an-btn:hover {
    border: 2px solid #00AEEF;
}

.vog {
    display: block;
}

.stre {
    margin-left: 125px;
}

.op, .op2 {
    color: #979292;
    font-weight: 700;
    text-transform: uppercase;
}

.op2 {
    font-weight: 500;
}

.moto {
    padding: 5px 10px;
    border: 1px solid rgb(186, 181, 181);
    margin-right: 5px;
    color: #0B3140;
}

.moto:hover {
    background: #007BFF;
    color: #fff;
}

.form-check-input {
  accent-color: #007BFF;
}

.get-btn, .get-btn2, .btn-move {
    background: #0B3140;
    color: #fff;
}

.get-btn2 {
    padding: 7px 30px;
}

.get-btn3 {
    padding: 7px 70px;
}

.btn-move {
    padding: 7px 60px;
}

.btn-move2 {
    padding: 7px 60px;
}

.get-btn4 {
    border: 0;
    outline: none;
    box-shadow: none;
    color: #00AEEF;
    background: #cecdcd;
    margin: 0;
    padding: 0;
}

.oz {
    display: none;
}

.sign-btn:hover {
    background: #0B3140;
    color: #fff;
}

.get-btn:hover {
    background: #fff;
    color: #0B3140;
}

.get-btn2:hover {
    background: #fff;
    color: #0B3140;
}

.get-btn-nav {
    padding: 10px 25px;
    background: #0B3140;
    color: #fff;
    display: none;
}

.btn-sign, .btn-sign2 {
    background: #007BFF;
    padding: 10px 30px;
    color: #fff;
    width: 80%;
    border: 0;
}

.btn-sign2 {
    background: #fff;
    border: 1px solid #00AEEF;
    color: #00AEEF;
}

.btn-sign2:hover {
    background: #007BFF;
    color: #fff;
}

.btn-sign:hover {
    background: #509ef1;
}

.btn-sign3, .btn-sign4 {
    background: #0B3140;
    padding: 10px 36px;
    color: #fff;
    width: 60%;
}

.btn-sign4 {
    width: 100%;
    padding: 14px 36px;
    border-radius: 12px;
}

.btn-sign4:hover {
    background: #fff;
    border: 1px solid #0B3140;
    color: #0B3140;
}

.otp-btn {
    border: 0;
    padding: 0;
    color: #00AEEF;
    font-size: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 992px) {
    .get-btn {
        display: none;
    }

    .get-btn-nav {
        display: block;
    }

    .btn-sign, .btn-sign2 {
        width: 100%;
    }

    .btn-sign3 {
        padding: 12px 25px;
    }
}

.head-section {
    margin: 20% auto;
}

.head-section h2, .wash-section h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.wash {
    color: #00AEEF;
}

.row {
    margin: 0 !important;
}

.navbar {
    padding: .5rem !important;
}

/* .side-img img {
    width: 120%;    
} */

.side-img {
    background: url(./assets/sideimg.png) no-repeat center center /cover;
    height: 500px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    br {
        display: none;
    }
}

.vec-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    z-index: -1;
}

.three-cards {
    margin: 70px 0 160px;
    background: #F4F9FB;
}

.next-section {
    display: flex;
}


.first-img img {
    width: 100%;
}

.first-card, .first-card2, .first-card-item {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-top-left-radius: 77px;
    width: 100%;
}

.first-card2 {
    border-top-right-radius: 77px;
}

.first-card-item {
    border-radius: 20px;
}

.first-body {
    padding: 10px;
}

.first-body p {
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    .next-section {
        flex-direction: column;
    }

    .first-card {
        width: 100%;
        margin-bottom: 30px;
    }

    .first-card2 {
        width: 100%;
    }

    .first-card-item {
        width: 100%;
    }
}

.cover-up {
    background: #fff;
    /* padding: 30px 0; */
}

.one-img {
    margin-top: 100px;
    padding: 0 0 60px;
    z-index: -1;
}

.third-section img {
    width: 100%;
}

.third-section-right {
    margin: 10% auto;
}

.third-section-right h2 {
    font-weight: 800;
}

.sling {
    position: relative;
    background: #F4F9FB;
}

.vow {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 26%;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .vow {
        display: none;
    }

    .vec-side {
        display: none;
    }
}

.one-time {
    margin-top: 186px;
    padding: 60px 0 0;
}

.fourth-section {
    margin: 15% auto 0;
}

.fourth-section h2 {
    color: #00AEEF;
    font-weight: 500;
}

.ibile {
    color: #2d5261;
}

@media screen and (max-width: 992px) {
    .fourth-section {
        margin: 0 auto 0;
    }

    .one-time {
        margin-top: 0;
    }
}


.owl-carousel .owl-nav.disabled {
    display: block !important;
}


.owl-carousel .nav-button {
    height: 50px;
    width: 55px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px !important;
  }
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
  }
  .owl-carousel .owl-prev {
    left: -2px;
  }
  .owl-carousel .owl-next {
    right: -2px;
  }
  .owl-theme .owl-nav [class*=owl-] {
    color: #000 !important;
    font-size: 30px !important;
    background: #fff !important;
    border-radius: 50% !important;
    font-weight: 600;
  }
  .owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
  }
  .owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
  }

.owl-theme .owl-dots {
    text-align: left !important;
}

.owl-theme .owl-dots .owl-dot {
    height: 18px !important;
    width: 18px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #B7B7B9 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #00AEEF !important;
}

.before {
    background: linear-gradient(117.58deg, #0B3140 -39.27%, #072B38 100%);
    padding: 45px 0;
    /* margin-top: 80px; */
}

.before2 {
    background: linear-gradient(117.58deg, #0B3140 -39.27%, #072B38 100%);
    padding: 45px 0;
}

.before-footer-img img {
    width: 70%;
}

@media screen and (max-width: 992px) {
    .before-footer-img img {
        width: 100%;
    }
}


.rosa {
    margin-top: 120px;
}
.before-footer-content {
    margin: 18% auto 0;
}

.before-footer-content h3 {
    font-weight: 800;
    color: #fff;
}

.before-footer-content p {
    color: #fff;
    font-weight: 300;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.second-sec p {
    font-size: 14px;
}

.first-sec p {
    font-size: 15px;
}

.down-footer {
    display: flex;
    justify-content: space-between;
}

.footer-social img {
    margin-right: 10px;
}

.mobile-foot {
    display: none;
}

@media screen and (max-width: 992px) {
    .down-footer {
        flex-direction: column;
    }

    .footer-section {
        /* flex-direction: column; */
        display: none;
    }

    .second-sec p {
        margin: 2px;
    }

    .first-sec {
        text-align: center;
    }

    .down-footer {
        text-align: center;
    }

    .mobile-foot {
        display: block;
    }

    .second-sec {
        margin-right: 35px;
    }

    .how {
        display: flex;
        margin-bottom: 20px;
    }
}

.fold, .dry, .duvet {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 5px 35px;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
}

.fold {
    color: #00AEEF;
    border-bottom: 1px solid #00AEEF;
}

.wash-img img {
    width: 100%;
}

@media screen and (max-width: 650px) {
    .fold, .dry, .duvet {
        font-size: 15px;
        padding: 5px 14px;
    }

    .wash-img img {
        margin: 30px 0;
    }
}

.addimg-swing {
    transition: all 3s ease-in;
    animation-delay: 2s;
}

.spread-img {
    text-align: center;
}

.spread-section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.spread {
    margin-right: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 30px 20px;
    width: 100%;
    border-radius: 10px;
}

.spread-body p {
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .spread-section {
        flex-direction: column;
    }

    .spread {
        margin-bottom: 10px;
    }
}

.price-card, .price-card2 {
    background: #0B3140;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
}

.price-card2 {
    background: #00AEEF;
}
.price, .priceSmart {
    font-weight: 800;
    font-size: 30px;
}

.price1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hr, .hr2 {
    border: 1px solid #207293;
    margin: 0!important;
}

.hr2 {
    border: 1px solid #00aeef;
}

.btn-price, .btn-price2 {
    outline: none;
    border: 2px solid #00AEEF;
    background: transparent;
    color: #00AEEF;
    padding: 10px 40px;
}

.btn-price2 {
    border: 2px solid #0B3140;
    color: #0B3140;
}

.wash2 {
    color: #0B3140;
}

@media screen and (max-width: 992px) {
    .price-card {
        margin-bottom: 20px;
        width: 100%;
    }

    .price-card2 {
        width: 100%;
    }
}

/* .dot-item img {
    margin-right: 10px;
} */

.dot-item {
    display: flex;
}

.dot-item p {
    font-size: 80px;
    color: #B7B7B9;
}


.carousel-indicators {
    left: -436px !important;
    bottom: -72px !important;
}

.carousel-indicators li {
    background: #B7B7B9 !important;
    border-radius: 50%;
    /* height: 3px !important; */
    width: 20px !important;
    font-size: 16px !important;
}

.carousel-indicators li:active {
    color: #00AEEF !important;
}

.search-ques {
    text-align: center;
}


.myinput {
    border: 0;
    padding: 10px;
}



#main #faq .card .card-header .btn-header-link.collapsed {
    border: 0 !important;
}



.card {
    border: 0!important;
}



#main {
    margin: 50px 0;
}
  
#main #faq .card {
    margin-bottom: 30px;
}
  
#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgb(247, 245, 245) !important;
    box-shadow: 0 0 20px 0 rgb(247, 245, 245) !important;
    border-radius: 2px;
    padding: 0;
}
  
#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    /* background: #FFE472; */
    color: #222;
    padding: 20px;
}
  
#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}
  
#main #faq .card .card-header .btn-header-link.collapsed {
    /* background: #A541BB; */
    border: 2px solid #222;
    color: #000;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
   content: "\f105";
}

#main #faq .card .collapsing {
    background: #fff;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #222;
}

.dry-card-header, .dry-card-header2, .dry-card-header3, .dry-card-header4, .dry-card-header5, .duvet-header {
    background: url(./assets/shirts.jpg) no-repeat center center /cover;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.dry-card-header2 {
    background: url(./assets/men2.webp) no-repeat center center /cover;
}

.dry-card-header3 {
    background: url(./assets/native.jpg) no-repeat center center /cover;
}

.dry-card-header4 {
    background: url(./assets/native.jpg) no-repeat center center /cover;
}

.dry-card-header5 {
    background: url(./assets/men4.webp) no-repeat center center /cover;
}

.duvet-header {
    background: url(./assets/men3.webp) no-repeat center center /cover;
    padding: 30px;
    border-radius: 10px;
}

.duvet-header img {
    width: 100%;
}



.dry-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.dry-item {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.dry-card {
    width: 100%;
   flex: 0 0 315px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin: 0 15px 35px;
   padding: 0;

}

.sam {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.price2, .price3 {
    display: none;
    margin-top: 120px;
}

.smart-section h2 {
    font-weight: 700;
}

.smart-section p {
    font-weight: 400;
}

.smart-section img {
    width: 100%;
}




.duvet-section-img img {
    width: 100%;
}

.duvet-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.duvet-body {
    padding: 15px;
}

.sepe img {
    width: 50% !important;
}

@media screen and (max-width: 650px) {
    .dry-card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 992px) {
    .sepe img {
        width: 100% !important;
    }
}

.plan-section hr {
    border: 1px solid #00AEEF;
    margin: 0;
}

.month, .annual {
    outline: none;
    box-shadow: none;
    border: 0;
    border-bottom: 3px solid #00AEEF;
    padding: 7px 45px;
    margin-right: 20px;
    background: #fff;
    font-weight: 500;
}

.annual {
    border-bottom: none;
}

.item-card {
    background: linear-gradient(117.58deg, #00AEEF -39.27%, #072B38 100%);
    padding: 20px 18px;
    border-radius: 16px;
    margin-right: 15px;
    /* width: 100%; */
}


.item-card-header, .plan-cards {
    display: flex;
    justify-content: space-between;
}


.item-card p {
    color: #fff;
    font-weight: 600;
}

.item-card hr {
    border: 1px solid #00AEEF;
}

.item-card-body h5 {
    font-weight: 600;
    text-align: left;
}

.item-card-body p {
    color: rgba(243, 225, 225, 0.936);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.migo {
    color: #fff;
}

.card-btn {
    outline: none;
    border: 0;
    box-shadow: none;
    background: #fff;
    color: #0B3140;
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .plan-cards {
        flex-direction: column;
    }

    .item-card {
        margin-bottom: 15px;
        width: 100%;
    }
}

.Incredible {
    margin-top: 750px;
    margin-bottom: 150px;
}

.Incredible2 {
    margin-top: 150px;
}

.fada {
    margin-top: 200px;
}

.box-sec {
    margin-top: 100px;
}

.box {
    background: url("./assets/box.png") no-repeat center center /cover;
    height: 579px;
    box-sizing: border-box;
    position: relative;
}

.box-content {
    position: absolute;
    top: 40%;
    left: 27%;
}

@media screen and (max-width: 650px) {
    .Incredible {
        margin-top: 300px;
    }
}

@media screen and (min-width: 680px) and (max-width: 992px){
    .Incredible {
        margin-top: 600px;
    }
}

@media screen and (max-width: 992px) {
    .box-content {
        left: 0;
    }
}


@media screen and (min-width: 2000px) and (max-width: 3000px) {
    .box-content {
        left: 40%;
    }
}

.why-img img {
    width: 100%;
}

.why-content {
    margin: 30% auto 0;
}

.why-content h2 {
    font-weight: 800;
}

@media screen and (max-width: 992px) {
    .why-img img {
        width: 100%;
    }
}

.us-img img {
    width: 100%;
}

.reach-section {
    margin: 40% auto 0;
}

@media screen and (max-width: 992px) {
    .reach-section {
        margin: 10% auto;
        text-align: center;
    }
}

@media screen and (min-width: 1600px) {
    .reach-section {
        margin: 40% auto 0;
    }
}

.reach-img img {
    width: 100%;
}

.privacy-head {
    background: linear-gradient(117.58deg, #00AEEF -39.27%, #072B38 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 30px;
    font-weight: 800;
}

.privacy-body {
    padding: 20px 30px;
}

.privacy-head p {
    color: #c4bebe;
}

.privacy-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ani-item {
    margin: 100px 0;
}

.animation-col-item {
    position: relative;
}



/* .comi {
    display: flex;
    min-height: 100vh;
}

.left,
.right {
    flex: 1;
}

.left .inner {
    height: 5px;
    display: block;
}

.left .inner.sticky {
    position: sticky;
    left: 0;
}

.left .inner.sticky .main-sec {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */



.main-sec {
    position: sticky;
    top: 80px;
    z-index: 110;
    position: -webkit-sticky;
}

@media screen and (max-width: 650px) {
    /* .main-sec {
        position: sticky;
        top: 200px !important;
        z-index: 10;
    } */

    /* .one-img {
        position: sticky;
        top: 0;
    } */
}

.main-sec p {
    text-transform: uppercase;
    color: #999;
    font-size: 24px;
}

.main-sec2 p {
    text-transform: uppercase;
    color: #999;
    font-size: 24px;
}

.main-sec h2,  .main-sec2 h2{
    font-weight: 700;
}

.mobile-view {
    position: sticky;
    top: 120px;
    z-index: -1000;
}

.mobile-view2 {
    position: sticky;
    top: 120px;
    z-index: -1000;
    background: white;
}

.dubem {
    width: 100%;
    margin-left: -69px;
}

.dubem2 {
    width: 100%;
    margin-left: 69px;
}

.kosi2 {
    margin-left: -69px;
}

.plan-question h2 {
    font-weight: 700;
}

.pat {
    font-weight: 500;
}

.custom-control-label {
    color: #0B3140 !important;
    font-weight: 300 !important;
}

.plan-box {
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    padding: 30px;
}

.plan-box h5 {
    color: #979292;
}

.plan-item, .plan-check {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
}

.ex {
    border: 1px solid rgb(0, 174, 239);
}

.plan-item h5 {
    color: #000;
}

.plan {
    display: flex;
    padding: 0;
    justify-content: start;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid #C4C4C4;

}

.bag-mon, .bag-mon2 {
    display: flex;
    justify-content: space-between;
    border: 2px solid #C4C4C4;
    padding: 10px 23px;
    border-top: 0;

}

.bag-mon2 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.plan-img2 {
    border-right: 2px solid #C4C4C4;
    padding: 10px 10px
}

.kubrik {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
}

.one-nine {
    border: 0;
    border-right: 1px solid #87c6f0;
    padding-right: 20px;
}

.plan-item2 {
    display: flex;
    justify-content: space-between;
}

.plan-check {
    display: block;
}

.stanley {
    display: flex;
    justify-content: space-between;
}

.real-hp {
    display: flex;
    justify-content: space-between;
}

.qty {
    border: 0;
    outline: none;
    box-shadow: none;
    width: 20px;
    text-align: center;
}

.h-item {
    color: #797a7d;
    font-weight: 300;
}

.plan-btn {
    width: 100%;
    background: #0B3140;
    color: #fff;
    border-radius: 12px;
    padding: 15px 25px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}


/* the css animation for the bags and clothes */
.slideimg {
    position: relative;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
  
@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
  
.image1 {
    opacity: 0;
    width: 32%;
}

.image2 {
    opacity: 0;
    width: 32%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: -100;
}

.img1 {
    height: 10%;
    animation: slideInFromLeft 2s ease-out;
    opacity: 1;
}

.img2 {
    animation: slideInFromRight 2s ease-out;
    height: 85%;
    opacity: 1;
}

.mogun1 {
    opacity: 0;
}



.bag {
    width: 45%;
    transform: scale(2);
    position: static;
}

.bagchange {
    transform: scale(1);
    transition-timing-function: ease;
    transition: 0.2s;
    transition-duration: 1.5s;
}


  

footer {
    z-index: -10;
    background: white;
}

.other-mobile-section {
    background: white;
    margin-top: 30px;
    padding: 14px;
}

.other-mobile-section img {
    width: 100%;
}

.mobile-view, .mobile-view2, .other-mobile-section {
    display: none;
}

@media screen and (max-width: 992px) {
    .one-img {
        display: none;
    }

    .mobile-view, .mobile-view2, .other-mobile-section {
        display: block;
    }
}

.hidden {
    /* opacity: 0; */
    transition: all 2s;
    /* transform: translateX(-100%); */
}

.showit {
    opacity: 1;
}

.logo:nth-child(1) {
    transition-delay: 200ms;
}

.logo:nth-child(2) {
    transition-delay: 400ms;
}
.logo:nth-child(3) {
    transition-delay: 600ms;
}

.img-section-right {
    position: sticky;
    top: 0;
    /* background: white; */
    transition: ease-in;
}

@media screen and (max-width: 650px) {
    .img-section-right {
        background: #fff;
    }
}

.voo {
    background: #EAF9FF;
}

.voo2 {
    background: #fff;
}

@keyframes fader {
    0% {
        background: url("../assets/unfold.png") no-repeat center center /contain;
    }
    /* 50% {
        background: url("../assets/fold.png") no-repeat center center /cover;
    } */
    20% {
        background: url("../assets/ns.png") no-repeat center center /contain;
    }

    50% {
        background: url("../assets/ns.png") no-repeat center center /contain;
    }
    70% {
        background: url("../assets/ns.png") no-repeat center center /contain;
    }
    100% {
        background: url("../assets/ns.png") no-repeat center center /contain;
    }
}

.wrapper {
    position: relative;
    width: 650px;
    margin: 0 auto;
    /* padding: 50px; */
    margin-top: 40px;
}

@media screen and (max-width: 992px) {
    .wrapper {
        width: 100%;
    }
}


/* .gallery {
    
} */

.addit {
    animation: fader 30s cubic-bezier(.8, 0, 0, .8) infinite;
    /* margin: 0 auto; */
}
.gallery-img {
    opacity: 1;
}


.banner-text h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}



.pen {
    font-size: 20px;
    /* font-weight: 700; */
    opacity: 0;
    position: absolute;
    width: 100%;
    /* text-align: center; */
}

.b1 {
    animation: ani1 15s infinite;
}
.b2 {
    animation: ani2 15s infinite;
}
.b3 {
    animation: ani3 15s infinite;
}
.b4 {
    animation: ani4 15s infinite;
}
.b5 {
    animation: ani5 15s infinite;
}
.b6 {
    animation: ani6 15s infinite;

}

@keyframes ani1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
}

@keyframes ani2 {
    20% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes ani3 {
    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

@keyframes ani4 {
    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

@keyframes ani5 {
    80% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ani6 {
    80% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* new code */

.scrollmagic-pin-spacer {
    height: 20px !important;
    margin: 60px 0 0 !important;
}
.forth-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: white;
    padding: 30px;
  }
  
  .forth-section .images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forth-section .images-wrapper img {
    position: absolute;
    /* top: 760px; */
  }

  .vector {
      margin: 450px 0 0;
  }

@media screen and (max-width: 992px) {
    .forth-section .images-wrapper img {
        width: 100%;
        top: 300;
    }

    .vector {
        margin: 150px 0 0;
    }
}

.alobam {
    background: #fff;
}

.sign-form {
    margin-left: 130px;
}

.sign-img p {
    color: #6C7587;
}

.myInput, .myInput2 { 
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #DDE5E9 !important;
    padding: 25px 10px !important;
    border-radius: 10px !important;
    width: 80% !important;
}


.myInput2 {
    border: 0 !important;
    border-bottom: 1px solid #DDE5E9 !important;
    width: 100% !important;
    margin: 0 0 20px;
}

.omadi {
    margin: 0 10% ;
}
label {
    color: #6E7680;
    font-size: 14px;
}

::placeholder {
    color: #858C99;
    font-size: 13px;
}

.form-check-label a {
    text-decoration: none !important;
    font-weight: 500;
}

.sign-text {
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    .sign-form {
        margin: 0;
    }

    .myInput {
        width: 100% !important;
    }
}

.otp-input {
    display: flex;
    margin-left: 90px;
}

.ba, .ba2, .ba3, .ba4 {
    outline: none;
    box-shadow: none;
    width: 10%;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid rgb(201, 194, 194);
}

.roc {
    margin: 10% auto;
}

.roc2 {
    margin: 4% auto;
}

@media screen and (max-width: 992px) {
    .roc2 {
      margin: 25% auto;
    }

    .ba, .ba2, .ba3, .ba4 {
        padding: 3px;
    }
}

@media screen and (max-width: 1200px) {
    .otp-input {
        margin-left: 74px;
    }
}

@media screen and (min-width: 1920px) {
    .otp-input {
        margin-left: 185px;
    }
}

@media screen and (min-width: 2200px){
    .otp-input {
        margin-left: 279px;
    }
}

.race {
    font-size: 14px;
    text-decoration: none !important;
}

#spin {
    display: none;
}

.mymodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


  
.modal-content {
    margin: 10% auto;
    width: 40% !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 2s;
    border-radius: 20px !important;
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 100% !important;
        margin: 50% auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .modal-content {
        width: 100% !important;
        margin: 50% auto;
    }
}
  
.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
    background: #0B3140;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.modal-body {
    padding: 10px 20px;
}

.modal-body h5 {
    font-weight: 700;
    color: #0B3140;
}

.modal-body p {
    color: #86888a;
    font-size: 14px;
}


.close, .close2 {
    float: right;
    font-size: 30px;
    color: #fff !important;
}

.close2 {
    color: #0B3140 !important;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 20px;
    margin: 10px;
}

.close2:hover,
.close2:focus {
    background: #072B38;
    cursor: pointer;
    color:#fff !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;
    }
}


.odana {
    display: none;
    animation-name: modalopen;
    animation-duration: 2s;
}

.time-slot {
    display: flex;
    justify-content: space-between;
}

.time-text, .aga-time {
    border: 1px solid #DDDDDD;
    padding: 7px 80px;
    border-radius: 10px;
    margin-right: 20px;
}

.aga-time {
    padding: 7px 70px;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    margin: 0px;
} 
 input[type="datetime-local"]::-webkit-datetime-edit {
    display:none;
    border: 0;
}

.show-details, .show-details2, .show-details3, .show-details4, .show-details5 {
    display: none;
    animation-name: modalopen;
    animation-duration: 2s;
}

.hoski {
    animation-name: modalopen;
    animation-duration: 2s;
}

.pagemodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.82);
}

/* loader */
.preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.top, .bottom, .fullbody, .houseHold, .nativeWear, .top2, .bottom2, .fullbody2, .nativeWear2 {
    display: none;
}

