@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
    font-family: "Inter", sans-serif;
}

*:focus {
    outline: none !important;
}

/* .dorime {
    margin-top: 150px;
} */


body {
    position: relative;
    margin: 0;
    padding: 0;
}

.sign-btn, .get-btn, .get-btn2, .get-btn3, .btn-move, .btn-move2, .plan-btn {
    outline: none;
    box-shadow: none;
    border: 1px solid #424345;
    padding: 4px 30px;
    color: #0B3140;
    border-radius: 5px;
    font-size: 14px;
    background: #fff;
}

.get-btn, .get-btn2, .btn-move {
    background: #0B3140;
    color: #fff;
}

.get-btn2 {
    padding: 7px 30px;
}

.get-btn3 {
    padding: 7px 70px;
}

.btn-move {
    padding: 7px 60px;
}

.btn-move2 {
    padding: 7px 60px;
}

.get-btn4 {
    border: 0;
    outline: none;
    box-shadow: none;
    color: #00AEEF;
    background: #cecdcd;
    margin: 0;
    padding: 0;
}

.sign-btn:hover {
    background: #0B3140;
    color: #fff;
}

.get-btn:hover {
    background: #fff;
    color: #0B3140;
}

.get-btn2:hover {
    background: #fff;
    color: #0B3140;
}

.head-section {
    margin: 20% auto;
}

.head-section h2, .wash-section h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.wash {
    color: #00AEEF;
}

.row {
    margin: 0 !important;
}

.navbar {
    padding: .5rem !important;
}

/* .side-img img {
    width: 120%;    
} */

.side-img {
    background: url(./assets/sideimg.png) no-repeat center center /cover;
    height: 500px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    br {
        display: none;
    }
}

.vec-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    z-index: -1;
}

.three-cards {
    margin: 70px 0 160px;
    background: #F4F9FB;
}

.next-section {
    display: flex;
}


.first-img img {
    width: 100%;
}

.first-card, .first-card2, .first-card-item {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-top-left-radius: 77px;
    width: 100%;
}

.first-card2 {
    border-top-right-radius: 77px;
}

.first-card-item {
    border-radius: 20px;
}

.first-body {
    padding: 10px;
}

.first-body p {
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    .next-section {
        flex-direction: column;
    }

    .first-card {
        width: 100%;
        margin-bottom: 30px;
    }

    .first-card2 {
        width: 100%;
    }

    .first-card-item {
        width: 100%;
    }
}

.cover-up {
    background: #cecdcd !important;
    /* padding: 30px 0; */
}

.one-img {
    margin-top: 100px;
    padding: 0 0 60px;
    z-index: -1;
}

.third-section img {
    width: 100%;
}

.third-section-right {
    margin: 10% auto;
}

.third-section-right h2 {
    font-weight: 800;
}

.sling {
    position: relative;
}

.vow {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 26%;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .vow {
        display: none;
    }

    .vec-side {
        display: none;
    }
}

.one-time {
    margin-top: 186px;
    padding: 60px 0 0;
}

.fourth-section {
    margin: 15% auto 0;
}

.fourth-section h2 {
    color: #00AEEF;
    font-weight: 500;
}

.ibile {
    color: #0B3140;
}

@media screen and (max-width: 992px) {
    .fourth-section {
        margin: 0 auto 0;
    }

    .one-time {
        margin-top: 0;
    }
}


.owl-carousel .owl-nav.disabled {
    display: block !important;
}


.owl-carousel .nav-button {
    height: 50px;
    width: 55px;
    cursor: pointer;
    position: absolute;
    top: 110px !important;
  }
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
  }
  .owl-carousel .owl-prev {
    left: -6px;
  }
  .owl-carousel .owl-next {
    right: -6px;
  }
  .owl-theme .owl-nav [class*=owl-] {
    color: #000 !important;
    font-size: 30px !important;
    background: #fff !important;
    border-radius: 50% !important;
    font-weight: 600;
  }
  .owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
  }
  .owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
  }

.owl-theme .owl-dots {
    text-align: left !important;
}

.owl-theme .owl-dots .owl-dot {
    height: 18px !important;
    width: 18px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #B7B7B9 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #00AEEF !important;
}

.before {
    background: linear-gradient(117.58deg, #0B3140 -39.27%, #072B38 100%);
    padding: 45px 0;
    /* margin-top: 80px; */
}

.before2 {
    background: linear-gradient(117.58deg, #0B3140 -39.27%, #072B38 100%);
    padding: 45px 0;
}

.before-footer-img img {
    width: 70%;
}

@media screen and (max-width: 992px) {
    .before-footer-img img {
        width: 100%;
    }
}


.rosa {
    margin-top: 120px;
}
.before-footer-content {
    margin: 18% auto 0;
}

.before-footer-content h3 {
    font-weight: 800;
    color: #fff;
}

.before-footer-content p {
    color: #fff;
    font-weight: 300;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.second-sec p {
    font-size: 14px;
}

.first-sec p {
    font-size: 15px;
}

.down-footer {
    display: flex;
    justify-content: space-between;
}

.footer-social img {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .down-footer {
        flex-direction: column;
    }

    .footer-section {
        flex-direction: column;
    }

    .second-sec p, h6 {
        text-align: center;
    }

    .first-sec {
        text-align: center;
    }

    .down-footer {
        text-align: center;
    }
}

.fold, .dry, .duvet {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 5px 35px;
    background: #fff;
    font-weight: 500;
}

.fold {
    color: #00AEEF;
    border-bottom: 1px solid #00AEEF;
}

.wash-img img {
    width: 100%;
}

.spread-img {
    text-align: center;
}

.spread-section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.spread {
    margin-right: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 30px 20px;
    width: 100%;
    border-radius: 10px;
}

.spread-body p {
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .spread-section {
        flex-direction: column;
    }

    .spread {
        margin-bottom: 10px;
    }
}

.price-card, .price-card2 {
    background: #0B3140;
    padding: 20px;
    border-radius: 20px;
}

.price-card2 {
    background: #00AEEF;
}
.price {
    font-weight: 800;
    font-size: 30px;
}

.price1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hr, .hr2 {
    border: 1px solid #207293;
    margin: 0!important;
}

.hr2 {
    border: 1px solid #00aeef;
}

.btn-price, .btn-price2 {
    outline: none;
    border: 2px solid #00AEEF;
    background: transparent;
    color: #00AEEF;
    padding: 10px 40px;
}

.btn-price2 {
    border: 2px solid #0B3140;
    color: #0B3140;
}

.wash2 {
    color: #0B3140;
}

@media screen and (max-width: 992px) {
    .price-card {
        margin-bottom: 20px;
    }
}

/* .dot-item img {
    margin-right: 10px;
} */

.dot-item {
    display: flex;
}

.dot-item p {
    font-size: 80px;
    color: #B7B7B9;
}


.carousel-indicators {
    left: -436px !important;
    bottom: -72px !important;
}

.carousel-indicators li {
    background: #B7B7B9 !important;
    border-radius: 50%;
    /* height: 3px !important; */
    width: 20px !important;
    font-size: 16px !important;
}

.carousel-indicators li:active {
    color: #00AEEF !important;
}

.search-ques {
    text-align: center;
}


.myinput {
    border: 0;
    padding: 10px;
}



#main #faq .card .card-header .btn-header-link.collapsed {
    border: 0 !important;
}



.card {
    border: 0!important;
}



#main {
    margin: 50px 0;
}
  
#main #faq .card {
    margin-bottom: 30px;
}
  
#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgb(247, 245, 245) !important;
    box-shadow: 0 0 20px 0 rgb(247, 245, 245) !important;
    border-radius: 2px;
    padding: 0;
}
  
#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    /* background: #FFE472; */
    color: #222;
    padding: 20px;
}
  
#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}
  
#main #faq .card .card-header .btn-header-link.collapsed {
    /* background: #A541BB; */
    border: 2px solid #222;
    color: #000;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
   content: "\f105";
}

#main #faq .card .collapsing {
    background: #fff;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #222;
}

.dry-card-header {
    background: url(./assets/18.png) no-repeat center center /cover;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
}

.dry-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.dry-item {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.dry-card {
    width: 100%;
   flex: 0 0 315px;
}

.price2, .price3 {
    display: none;
    margin-top: 120px;
}

.smart-section h2 {
    font-weight: 700;
}

.smart-section p {
    font-weight: 400;
}

.smart-section img {
    width: 100%;
}

.sepe img {
    width: 50% !important;
}

@media screen and (max-width: 992px) {
    .sepe img {
        width: 100% !important;
    }
}

.plan-section hr {
    border: 1px solid #00AEEF;
    margin: 0;
}

.month, .annual {
    outline: none;
    box-shadow: none;
    border: 0;
    border-bottom: 3px solid #00AEEF;
    padding: 7px 45px;
    margin-right: 20px;
    background: #fff;
    font-weight: 500;
}

.annual {
    border-bottom: none;
}

.item-card {
    background: linear-gradient(117.58deg, #00AEEF -39.27%, #072B38 100%);
    padding: 20px 18px;
    border-radius: 16px;
    margin-right: 15px;
    width: 100%;
}


.item-card-header, .plan-cards {
    display: flex;
    justify-content: space-between;
}


.item-card p {
    color: #fff;
    font-weight: 600;
}

.item-card hr {
    border: 1px solid #00AEEF;
}

.item-card-body h5 {
    font-weight: 600;
    text-align: left;
}

.item-card-body p {
    color: rgba(243, 225, 225, 0.936);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.migo {
    color: #fff;
}

.card-btn {
    outline: none;
    border: 0;
    box-shadow: none;
    background: #fff;
    color: #0B3140;
    padding: 7px 25px;
    border-radius: 5px;
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    .plan-cards {
        flex-direction: column;
    }

    .item-card {
        margin-bottom: 15px;
    }
}

.Incredible {
    margin-top: 150px;
    margin-bottom: 150px;
}

.Incredible2 {
    margin-top: 150px;
}

.fada {
    margin-top: 200px;
}

.box-sec {
    margin-top: 100px;
}

.box {
    background: url("./assets/box.png") no-repeat center center /cover;
    height: 579px;
    box-sizing: border-box;
    position: relative;
}

.box-content {
    position: absolute;
    top: 40%;
    left: 27%;
}

@media screen and (min-width: 2000px) and (max-width: 3000px) {
    .box-content {
        left: 40%;
    }
}

.why-img img {
    width: 80%;
}

.why-content {
    margin: 30% auto 0;
}

.why-content h2 {
    font-weight: 800;
}

@media screen and (max-width: 992px) {
    .why-img img {
        width: 100%;
    }
}

.us-img img {
    width: 100%;
}

.reach-section {
    margin: 40% auto 0;
}

@media screen and (max-width: 992px) {
    .reach-section {
        margin: 10% auto;
        text-align: center;
    }
}

@media screen and (min-width: 1600px) {
    .reach-section {
        margin: 40% auto 0;
    }
}

.reach-img img {
    width: 100%;
}

.privacy-head {
    background: linear-gradient(117.58deg, #00AEEF -39.27%, #072B38 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 30px;
    font-weight: 800;
}

.privacy-body {
    padding: 20px 30px;
}

.privacy-head p {
    color: #c4bebe;
}

.privacy-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ani-item {
    margin: 100px 0;
}

.animation-col-item {
    position: relative;
}



/* .comi {
    display: flex;
    min-height: 100vh;
}

.left,
.right {
    flex: 1;
}

.left .inner {
    height: 5px;
    display: block;
}

.left .inner.sticky {
    position: sticky;
    left: 0;
}

.left .inner.sticky .main-sec {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */



.main-sec {
    position: sticky;
    top: 80px;
    z-index: 110;
    position: -webkit-sticky;
}

@media screen and (max-width: 650px) {
    /* .main-sec {
        position: sticky;
        top: 200px !important;
        z-index: 10;
    } */

    /* .one-img {
        position: sticky;
        top: 0;
    } */
}

.main-sec p {
    text-transform: uppercase;
    color: #999;
    font-size: 24px;
}

.main-sec2 p {
    text-transform: uppercase;
    color: #999;
    font-size: 24px;
}

.main-sec h2,  .main-sec2 h2{
    font-weight: 700;
}

.mobile-view {
    position: sticky;
    top: 120px;
    z-index: -1000;
}

.mobile-view2 {
    position: sticky;
    top: 120px;
    z-index: -1000;
    background: white;
}

.dubem {
    width: 100%;
    margin-left: -69px;
}

.dubem2 {
    width: 100%;
    margin-left: 69px;
}

.kosi2 {
    margin-left: -69px;
}

.plan-question h2 {
    font-weight: 700;
}

.pat {
    font-weight: 500;
}

.custom-control-label {
    color: #0B3140 !important;
    font-weight: 300 !important;
}

.plan-box {
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    padding: 30px;
}

.plan-box h5 {
    color: #979292;
}

.plan-item {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
}

.plan-btn {
    width: 100%;
    background: #0B3140;
    color: #fff;
    border-radius: 12px;
    padding: 15px 25px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}


/* the css animation for the bags and clothes */
.slideimg {
    position: relative;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
  
@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
  
.image1 {
    opacity: 0;
    width: 32%;
}

.image2 {
    opacity: 0;
    width: 32%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: -100;
}

.img1 {
    height: 10%;
    animation: slideInFromLeft 2s ease-out;
    opacity: 1;
}

.img2 {
    animation: slideInFromRight 2s ease-out;
    height: 85%;
    opacity: 1;
}

.mogun1 {
    opacity: 0;
}



.bag {
    width: 45%;
    transform: scale(2);
    position: static;
}

.bagchange {
    transform: scale(1);
    transition-timing-function: ease;
    transition: 0.2s;
    transition-duration: 1.5s;
}

.context-item, .context-item2 {
    opacity: 0;
}

.show {
    opacity: 1;
}

.show2 {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.hide2 {
    opacity: 0;
}
  

footer {
    z-index: -10;
    background: white;
}

.other-mobile-section {
    background: white;
    margin-top: 30px;
    padding: 14px;
}

.other-mobile-section img {
    width: 100%;
}

.mobile-view, .mobile-view2, .other-mobile-section {
    display: none;
}

@media screen and (max-width: 992px) {
    .one-img {
        display: none;
    }

    .mobile-view, .mobile-view2, .other-mobile-section {
        display: block;
    }
}

.hidden {
    opacity: 0;
    transition: all 2s;
    /* transform: translateX(-100%); */
}

.showit {
    opacity: 1;
}

.logo:nth-child(1) {
    transition-delay: 200ms;
}

.logo:nth-child(2) {
    transition-delay: 400ms;
}
.logo:nth-child(3) {
    transition-delay: 600ms;
}

.img-section-right {
    position: sticky;
    top: 0;
    background: white;
}