@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap');;
* {
    font-family: "Inter", sans-serif;
}

*:focus {
    outline: none;
}


body {
    position: relative;
    margin: 0;
    padding: 0;
}

.sign-btn, .get-btn, .get-btn2, .get-btn3 {
    outline: none;
    box-shadow: none;
    border: 1px solid #424345;
    padding: 4px 30px;
    color: #0B3140;
    border-radius: 5px;
    font-size: 14px;
}

.get-btn, .get-btn2 {
    background: #0B3140;
    color: #fff;
}

.get-btn2 {
    padding: 7px 30px;
}

.get-btn3 {
    padding: 7px 70px;
}

.get-btn4 {
    border: 0;
    outline: none;
    box-shadow: none;
    color: #00AEEF;
    background: #fff;
    margin: 0;
    padding: 0;
}

.sign-btn:hover {
    background: #0B3140;
    color: #fff;
}

.get-btn:hover {
    background: #fff;
    color: #0B3140;
}

.get-btn2:hover {
    background: #fff;
    color: #0B3140;
}

.head-section {
    margin: 20% auto;
}

.head-section h2, .wash-section h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.wash {
    color: #00AEEF;
}

.row {
    margin: 0 !important;
}

.navbar {
    padding: .5rem !important;
}

.side-img img {
    width: 100%;    
}

@media screen and (max-width: 992px) {
    br {
        display: none;
    }
}

.vec-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;
    z-index: -1;
}

.three-cards {
    margin-top: 70px;
}

.next-section {
    display: flex;
}


.first-img img {
    width: 100%;
}

.first-card, .first-card2, .first-card-item {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-top-left-radius: 77px;
    width: 90%;
}

.first-card2 {
    border-top-right-radius: 77px;
}

.first-card-item {
    border-radius: 20px;
}

.first-body {
    padding: 10px;
}

.first-body p {
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    .next-section {
        flex-direction: column;
    }

    .first-card {
        width: 100%;
        margin-bottom: 30px;
    }

    .first-card2 {
        width: 100%;
    }

    .first-card-item {
        width: 100%;
    }
}

.one-img {
    margin-top: 186px;
}

.third-section img {
    width: 100%;
}

.third-section-right {
    margin: 10% auto;
}

.third-section-right h2 {
    font-weight: 800;
}

.sling {
    position: relative;
}

.vow {
    position: absolute;
    bottom: -77px;
    left: 0;
    width: 26%;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .vow {
        display: none;
    }

    .vec-side {
        display: none;
    }
}

.one-time {
    margin-top: 186px;
}

.fourth-section {
    margin: 15% auto 0;
}

.fourth-section h2 {
    color: #00AEEF;
    font-weight: 500;
}

.ibile {
    color: #0B3140;
}


.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}
  
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
background: url(nav-icon.png) no-repeat scroll 0 0;
left: -33px;
}
.owl-carousel .next-slide{
background: url(nav-icon.png) no-repeat scroll -24px 0px;
right: -33px;
}
.owl-carousel .prev-slide:hover{
background-position: 0px -53px;
}
.owl-carousel .next-slide:hover{
background-position: -24px -53px;
}

.before {
    background: linear-gradient(117.58deg, #0B3140 -39.27%, #072B38 100%);
    padding: 45px 0;
    margin-top: 80px;
}

.before-footer-img img {
    width: 70%;
}

@media screen and (max-width: 992px) {
    .before-footer-img img {
        width: 100%;
    }
}

.before-footer-content {
    margin: 27% auto 0;
}

.before-footer-content h3 {
    font-weight: 800;
    color: #fff;
}

.before-footer-content p {
    color: #fff;
    font-weight: 300;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.second-sec p {
    font-size: 14px;
}

.first-sec p {
    font-size: 15px;
}

.down-footer {
    display: flex;
    justify-content: space-between;
}

.footer-social img {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .down-footer {
        flex-direction: column;
    }

    .footer-section {
        flex-direction: column;
    }

    .second-sec p, h6 {
        text-align: center;
    }

    .first-sec {
        text-align: center;
    }

    .down-footer {
        text-align: center;
    }
}

.fold, .dry, .duvet {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 5px 35px;
    background: #fff;
    font-weight: 500;
}

.fold {
    color: #00AEEF;
    border-bottom: 1px solid #00AEEF;
}

.wash-img img {
    width: 100%;
}

.spread-img {
    text-align: center;
}

.spread-section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.spread {
    margin-right: 20px;
}

.spread-body p {
    font-size: 14px;
}

@media screen and (max-width: 992px) {
    .spread-section {
        flex-direction: column;
    }

    .spread {
        margin-bottom: 10px;
    }
}

.price-card, .price-card2 {
    background: #0B3140;
    padding: 20px;
    border-radius: 20px;
}

.price-card2 {
    background: #00AEEF;
}
.price {
    font-weight: 800;
    font-size: 30px;
}

.price1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hr {
    border: 1px solid #207293;
    margin: 0!important;
}

.btn-price, .btn-price2 {
    outline: none;
    border: 2px solid #00AEEF;
    background: transparent;
    color: #00AEEF;
    padding: 10px 40px;
}

.btn-price2 {
    border: 2px solid #0B3140;
    color: #0B3140;
}

.wash2 {
    color: #0B3140;
}

@media screen and (max-width: 992px) {
    .price-card {
        margin-bottom: 20px;
    }
}

.dot-item img {
    margin-right: 10px;
}

.search-ques {
    text-align: center;
}


.myinput {
    border: 0;
    padding: 10px;
}





#main {
    margin: 50px 0;
}
  
#main #faq .card {
    margin-bottom: 30px;
    border: 0;
}
  
#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}
  
#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    /* background: #FFE472; */
    color: #222;
    padding: 20px;
}
  
#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}
  
#main #faq .card .card-header .btn-header-link.collapsed {
    /* background: #A541BB; */
    border: 2px solid #222;
    color: #000;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
   content: "\f106";
}

#main #faq .card .collapsing {
    background: #fff;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #222;
}

.dry-card-header {
    background: url(./assets/18.png) no-repeat center center /cover;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
}

.dry-section {
    /* border-radius: 30px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dry-item {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.dry-card {
    width: 100%;
    
}